/****** element styles ******/
html {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  
@import './partials/colors';

  body {
    font-size: 18px;
    font-family: "Kumbh sans", sans-serif;
    background-color: $color-1;
    background-color: $color-2;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  
  h1 {
    font-size: $px-1;
    margin-bottom: 0;
  }
  
  hr {
    position: relative;
    bottom: 20px;
  }
  
  .Profilecard {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 0.9rem;
  
  }
  
  .stats {
    margin: 0 auto;
  }
  
  .stat {
    display: inline-block;
    text-align: center;
    
    margin: 0 30px;
    padding-bottom: 20px;
  }
  
  .btmstat {
    font-size: 11px;
    font-stretch: expanded;
    width: auto;
  }
  
  .vicpp {
    border-radius: 50%;
    background-color: white;
    padding: 5px;
    margin: 0 auto;
    transform: translateY(-50%);
    display: block
  }
  
  .ppbg {
    border-top-left-radius: 0.9rem;
    border-top-right-radius: 0.9rem;
    margin-bottom: 0;
  
  }
  
  .name {
    position: relative;
    bottom: 30px;
    margin-top: 0px;
    line-height: 1.5;
  }
  
  .bgtop {
    position: absolute;
    right: 55%;
    bottom: 50%;
  }
  
  .bgbtm {
    position: absolute;
    left: 55%;
    top: 50%;
    margin-right: clear;
  }
  
  .shift{
    padding-left: 10px;
  }
  
  /* font */
  .w-400 {
    font-weight: 400;
  }
  
  .w-700 {
    font-weight: 700;
  }
  
   /* colours*/
   .dark-cyan {
     color: $color-1;
     color: $color-2;
   }
  
   .dark-blue {
     color: $color-1;
     color: hsl(229, 23%, 23%);
   }
  
   .grey-blue {
     color: $color-1;
     color: hsl(227, 10%, 46%);
   }
  
   .grey {
     color: $color-1;
     color: hsl(0, 0%, 59%);
   }
  

   .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }